*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #bfd5ff;
}

.container{
    
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 5px;
}

.info{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 2%;
    gap: 1rem;
    
    & .aviso{
        color: #ff352b;
    }
}

.infoText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 3%;
    border: 1px solid #000;
    border-radius: 15px;

    & p{
        text-align: start;
    }
    
    
}

.entrada{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 1rem;
}

input{
    padding: 3%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #000;
}

button{
    user-select: none;
    
    width: 70%;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #2b58ff;
    color: #2b58ff;
    background-color: #fff;
    
    &:hover, &:focus{
        border: 1px solid #fff;
        color: #fff;
        background-color: #2b58ff;
        transition: .5s;
    }
}

textarea{
    outline: none;
    width: 70%;
    height: 8rem;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #000;
}

.btns{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    & button{
        padding: 3%;
    }
}

a{
    user-select: none;
    background-color: #2b58ff;
    text-decoration: none;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    
    &:hover, &:focus{
       background-color: #fff;
       color: #2b58ff;
       border: 1px solid #2b58ff;
       transition: .5s;
    }
}


@media screen and (min-width: 768px){
    .container{
        width: 50%;
    }
}


@media screen and (min-width: 1200px){
    .container{
        width: 30%;
    }
}
